<div class="hidden md:flex flex-col items-center justify-center px-16 bg-white">
        <h1 class="text-6xl font-extrabold text-teal-700 leading-tight">
            Smart Notes!!
        </h1>
        <h1 class="text-3xl font-medium text-orange-400 leading-tight">
            Create . Organise . Summarise
            

        </h1>

        <p class="mt-2 text-lg text-gray-600 max-w-md">
            Your smart, simple note-taking companion.
        </p>

        <div class="mt-8">
            <img
                src="/notebook.png"
                alt="Notebook illustration"
                class="w-80"
            />
        </div>
    </div>
